.l{
   /* animation: anim 3s ease forwards;*/
   fill: transparent;
   opacity: 0
}
/*#icon .cls-1{
    opacity: 0;
}*/
body{
    background-color:black; 
}
#svg{
    margin: auto;
    display: block;
}
#textt path{
    fill: white;
    fill-opacity: 0;
    -moz-animation:FILL3 1s forwards;
    -webkit-animation:FILL3 1s forwards;
    animation:FILL3 1s forwards;
    animation-delay: 0.5s;
}
@-webkit-keyframes FILL3{
    0% {fill-opacity: 0;}
    80% {fill-opacity: 0.8;}
    100% {fill-opacity: 1;}
}
@-moz-keyframes FILL3{
    0% {fill-opacity: 0;}
    100% {fill-opacity: 1;}
}
@keyframes FILL3{
    0% {fill-opacity: 0;}
    80% {fill-opacity: 0.8;}
    100% {fill-opacity: 1;}
}
/*
@keyframes anim {
    0%{
        fill: transparent;
    }
    50%{
        fill: transparent;
        
    }
    100%{
        fill:#213449;
    }

}*/